# Blacklist everything by default
*

!/.gitignore
!/.gitattributes

# License files
!/LICENSE*
!/LICENSE_zh_CN*

# Documentation files
!/README.md
!/supporterlist.txt
!/supporterlistgold.txt

# Changelogs
!/changelog_en_US.txt
!/changelog_zh_CN.txt

# Lang file
!/GregTech.lang

# Resources
!/resources
!/scripts
!/resourcepacks/TFR Theme Texture
!/modpack
!/config/advRocketry
!/config/AE2Stuff
!/config/AppliedEnergistics2
!/config/Betterloadingscreen
!/config/betterquesting
!/config/CustomMainMenu
!/config/CustomOreGen
!/config/draconicevolution/
!/config/EnhancedLootBags/
!/config/forestry/
!/config/gendustry/
!/config/gregtech/worldgenerationnew.cfg
!/config/gregtech/stacksizes.cfg
!/config/gregtech/oreprocessing.cfg
!/config/gregtech/materials.cfg
!/config/gregtech/ids.cfg
!/config/gregtech/gregtech.cfg
!/config/MatterOverdrive/Matter Overdrive.cfg
!/config/MoegAddon/
!/config/MTUtils/
!/config/NEI/
!/config/OmniOcular/
!/config/opencomputers/
!/config/railcraft/
#!/config/recipes/
!/config/udary/
!/config/Avaritia.cfg
!/config/Avaritiaddons.cfg
!/config/Backpack.cfg
!/config/Baubles.cfg
!/config/BedrockLayer.cfg
!/config/betterbuilderswands.cfg
!/config/betterquesting.cfg
!/config/Botania.cfg
!/config/bq_standard.cfg
!/config/bspkrsCore.cfg
!/config/CarpentersBlocks.cfg
!/config/cfm.cfg
!/config/chisel.cfg
!/config/CocoaInput.cfg
!/config/CodeChickenCore.cfg
!/config/CustomNpcs.cfg
!/config/DraconicEvolution.Balance.cfg
!/config/DraconicEvolution.cfg
!/config/dungeonpack.cfg
#!/config/fastcraft.ini
!/config/flammpfeil.slashblade.cfg
!/config/fognerf.cfg
!/config/forge.cfg
!/config/forgeChunkLoading.cfg
!/config/HardcoreDarkness.cfg
!/config/HoloInventory.cfg
#!/config/IC2.ini
!/config/Ic2Nei.cfg
!/config/IC2NuclearControl.cfg
!/config/IGWMod.cfg
!/config/InGameInfoXML.cfg
!/config/injectedDependencies.json
#!/config/InvTweaks.cfg
!/config/InvTweaksCompatibility.xml
!/config/InvTweaksRules.txt
!/config/InvTweaksTree.txt
!/config/IronChest.cfg
!/config/ironchestminecarts.cfg
!/config/journeymap_ModInfo.cfg
!/config/libVulpes.cfg
!/config/LunatriusCore.cfg
!/config/MemoryCleaner.cfg
#!/config/MouseTweaks.cfg
!/config/NBTEdit.cfg
!/config/NEIAddons.cfg
!/config/neiintegration.cfg
!/config/OpenBlocks.cfg
!/config/OpenComputers.cfg
!/config/OpenMods.cfg
!/config/OpenModsLibCore.json
!/config/PluginMetrics.cfg
#!/config/splash.properties
!/config/TerraFirmaCraftNEIplugin.cfg
!/config/terrafirmastuff.cfg
!/config/TFC-Tweaks.cfg
!/config/tfcautomatedbellows.cfg
!/config/tfccellars.cfg
!/config/TFCConfig.cfg
!/config/TFCCrafting.cfg
!/config/TFCOre.cfg
!/config/TFCPrimitiveTech.cfg
!/config/TFCTech.cfg
!/config/TooMuchTime.cfg
!/config/ttfcapi.cfg
!/config/UnicodeFontFixer.cfg
#!/config/UniqueNames.txt
!/config/Waila.cfg
!/config/WailaHarvestability.cfg
!/config/WirelessCraftingTerminal.cfg

# Options files
!/gregtech.cfg
!/options.txt
!/config/IGI_TFR_DEBUG.xml
!/config/IGI_TFR_USER.xml