# Folders
/assets/
/asm/
/backpacks/
/backups/
/crash-reports/
/customnpcs/
/CustomSkinLoader/
/journeymap/
/libraries/
/local/
/logs/
/null/
/saves/
/mods/
/native/
/shaderpacks/
/screenshots/
/OtherResourcepacks/
/versions/

# Launch cache
/servers.dat
/NBTEdit.log
/OpenComputersMod-1.7.5.1290-lua53-native.64.dylib
/NBTEdit.log.lck
/optionsof.txt
/MTUtilsData.nbt
/minetweaker.log
/optionsshaders.txt
/betterfps.txt
/launcher_profiles.json
/BotaniaVars.dat
/usernamecache.json

# Resourcepacks
/resourcepacks/TFC_Anvil.zip
/resourcepacks/TFC_Texture_BDCraft_32x.zip
/resourcepacks/TFC_Texture_H3D_64x_v5.1.2.zip

# Config cache
/config/recipes/
/config/fastcraft.ini
/config/IC2.ini
/config/InvTweaks.cfg
/config/MouseTweaks.cfg
/config/splash.properties
/config/UniqueNames.txt
/config/MatterOverdrive/Registry.matter
/config/gregtech/unification.cfg
/config/gregtech/recipes.cfg
/config/gregtech/materiallist.log
/config/AppliedEnergistics2/recipes/items.csv
/config/AppliedEnergistics2/CustomRecipes.cfg
/config/AppliedEnergistics2/Facades.cfg
/config/AppliedEnergistics2/VersionChecker.cfg

/options.txt
/config/betterquesting/DefaultQuests-1.json
/config/NEI/bookmarks.ini
/dumps/
/config/NEI/client.cfg
