# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=224256e7-c344-41a1-94c6-649a02651477

    # Set to true to disable all reporting
    B:opt-out=false
}


