# Configuration file

bauxite {
    I:"Horizontal Density"=120
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=120
    S:baseRocks <
        sedimentary
     >
    I:oreMeta=0
    S:oreName=tfctech:Ore4
    I:rarity=60
    S:size=large
    S:type=large
}


"bauxite surface" {
    I:"Horizontal Density"=80
    I:"Maximum Height"=240
    I:"Minimum Height"=128
    I:"Vertical Density"=60
    S:baseRocks <
        igneous extrusive
        sedimentary
     >
    I:oreMeta=0
    S:oreName=tfctech:Ore4
    I:rarity=25
    S:size=medium
    S:type=veins
}


bismuthinite {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        igneous extrusive
        sedimentary
     >
    I:oreMeta=7
    S:oreName=terrafirmacraft:Ore1
    I:rarity=60
    S:size=medium
    S:type=veins
}


"bismuthinite surface" {
    I:"Horizontal Density"=40
    I:"Maximum Height"=240
    I:"Minimum Height"=128
    I:"Vertical Density"=40
    S:baseRocks <
        igneous extrusive
        sedimentary
     >
    I:oreMeta=7
    S:oreName=terrafirmacraft:Ore1
    I:rarity=35
    S:size=small
    S:type=veins
}


"bituminous coal" {
    I:"Horizontal Density"=120
    I:"Maximum Height"=120
    I:"Minimum Height"=5
    I:"Vertical Density"=120
    S:baseRocks <
        sedimentary
     >
    I:oreMeta=14
    S:oreName=terrafirmacraft:Ore1
    I:rarity=65
    S:size=large
    S:type=default
}


borax {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        rock salt
		limestone
     >
    I:oreMeta=0
    S:oreName=terrafirmacraft:Ore3
    I:rarity=60
    S:size=large
    S:type=veins
}


cassiterite {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
	    igneous extrusive
        igneous intrusive       
     >
    I:oreMeta=5
    S:oreName=terrafirmacraft:Ore1
    I:rarity=85
    S:size=medium
    S:type=veins
}


"cassiterite surface" {
    I:"Horizontal Density"=50
    I:"Maximum Height"=240
    I:"Minimum Height"=128
    I:"Vertical Density"=50
    S:baseRocks <
	    igneous intrusive             
		igneous extrusive     
     >
    I:oreMeta=5
    S:oreName=terrafirmacraft:Ore1
    I:rarity=25
    S:size=medium
    S:type=veins
}


cinnabar {
    I:"Horizontal Density"=80
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=30
    S:baseRocks <
        igneous extrusive
        metamorphic
        sedimentary
     >
    I:oreMeta=11
    S:oreName=terrafirmacraft:Ore2
    I:rarity=105
    S:size=medium
    S:type=veins
}


cryolite {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        granite
     >
    I:oreMeta=12
    S:oreName=terrafirmacraft:Ore2
    I:rarity=80
    S:size=small
    S:type=veins
}


galena {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        igneous extrusive
        metamorphic
        Sedimentary
     >
    I:oreMeta=6
    S:oreName=terrafirmacraft:Ore1
    I:rarity=60
    S:size=medium
    S:type=veins
}


garnierite {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        gabbro
        basalt
        diorite
     >
    I:oreMeta=8
    S:oreName=terrafirmacraft:Ore1
    I:rarity=60
    S:size=medium
    S:type=veins
}


graphite {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        metamorphic
        sedimentary
     >
    I:oreMeta=4
    S:oreName=terrafirmacraft:Ore2
    I:rarity=110
    S:size=medium
    S:type=veins
}


gypsum {
    I:"Horizontal Density"=70
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        sedimentary
     >
    I:oreMeta=1
    S:oreName=terrafirmacraft:Ore2
    I:rarity=110
    S:size=large
    S:type=veins
}


hematite {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        igneous extrusive
     >
    I:oreMeta=3
    S:oreName=terrafirmacraft:Ore1
    I:rarity=80
    S:size=medium
    S:type=veins
}


jet {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        sedimentary
        igneous intrusive
     >
    I:oreMeta=8
    S:oreName=terrafirmacraft:Ore2
    I:rarity=60
    S:size=large
    S:type=veins
}


kaolinite {
    I:"Horizontal Density"=80
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        sedimentary
        metamorphic
     >
    I:oreMeta=0
    S:oreName=terrafirmacraft:Ore2
    I:rarity=100
    S:size=medium
    S:type=default
}


kimberlite {
    I:"Horizontal Density"=80
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=40
    S:baseRocks <
        gabbro
        basalt
        diorite
     >
    I:oreMeta=5
    S:oreName=terrafirmacraft:Ore2
    I:rarity=130
    S:size=medium
    S:type=veins
}


"lapis lazuli" {
    I:"Horizontal Density"=80
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        metamorphic
     >
    I:oreMeta=2
    S:oreName=terrafirmacraft:Ore3
    I:rarity=60
    S:size=large
    S:type=veins
}


lignite {
    I:"Horizontal Density"=120
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=120
    S:baseRocks <
        metamorphic
     >
    I:oreMeta=15
    S:oreName=terrafirmacraft:Ore1
    I:rarity=110
    S:size=large
    S:type=default
}


limonite {
    I:"Horizontal Density"=120
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=120
    S:baseRocks <
        sedimentary
     >
    I:oreMeta=11
    S:oreName=terrafirmacraft:Ore1
    I:rarity=60
    S:size=large
    S:type=veins
}


magnetite {
    I:"Horizontal Density"=120
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=120
    S:baseRocks <
        sedimentary
     >
    I:oreMeta=10
    S:oreName=terrafirmacraft:Ore1
    I:rarity=60
    S:size=medium
    S:type=veins
}


malachite {
    I:"Horizontal Density"=120
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=120
    S:baseRocks <
        metamorphic
     >
    I:oreMeta=9
    S:oreName=terrafirmacraft:Ore1
    I:rarity=60
    S:size=large
    S:type=veins
}


"native copper" {
    I:"Horizontal Density"=120
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=120
    S:baseRocks <
        igneous extrusive
		igneous intrusive
     >
    I:oreMeta=0
    S:oreName=terrafirmacraft:Ore1
    I:rarity=60
    S:size=large
    S:type=veins
}


"native copper surface" {
    I:"Horizontal Density"=60
    I:"Maximum Height"=240
    I:"Minimum Height"=128
    I:"Vertical Density"=80
    S:baseRocks <
        igneous extrusive
     >
    I:oreMeta=0
    S:oreName=terrafirmacraft:Ore1
    I:rarity=25
    S:size=medium
    S:type=veins
}


"native gold" {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        igneous extrusive
        igneous intrusive
     >
    I:oreMeta=1
    S:oreName=terrafirmacraft:Ore1
    I:rarity=60
    S:size=large
    S:type=veins
}


pitchblende {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        igneous intrusive
		igneous extrusive
     >
    I:oreMeta=10
    S:oreName=terrafirmacraft:Ore2
    I:rarity=120
    S:size=medium
    S:type=veins
}


platinum {
    I:"Horizontal Density"=80
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=40
    S:baseRocks <
        sedimentary
     >
    I:oreMeta=2
    S:oreName=terrafirmacraft:Ore1
    I:rarity=120
    S:size=medium
    S:type=veins
}


saltpeter {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        sedimentary
     >
    I:oreMeta=13
    S:oreName=terrafirmacraft:Ore2
    I:rarity=60
    S:size=medium
    S:type=veins
}


silver {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        sedimentary
        metamorphic
        
     >
    I:oreMeta=4
    S:oreName=terrafirmacraft:Ore1
    I:rarity=110
    S:size=medium
    S:type=veins
}


sphalerite {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        metamorphic
     >
    I:oreMeta=12
    S:oreName=terrafirmacraft:Ore1
    I:rarity=60
    S:size=medium
    S:type=veins
}


"sphalerite surface" {
    I:"Horizontal Density"=40
    I:"Maximum Height"=240
    I:"Minimum Height"=128
    I:"Vertical Density"=40
    S:baseRocks <
        metamorphic
     >
    I:oreMeta=12
    S:oreName=terrafirmacraft:Ore1
    I:rarity=35
    S:size=medium
    S:type=veins
}


sylvite {
    I:"Horizontal Density"=40
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=90
    S:baseRocks <
        sedimentary
     >
    I:oreMeta=15
    S:oreName=terrafirmacraft:Ore2
    I:rarity=60
    S:size=medium
    S:type=veins
}


tetrahedrite {
    I:"Horizontal Density"=120
    I:"Maximum Height"=120
    I:"Minimum Height"=5
    I:"Vertical Density"=120
    S:baseRocks <
        metamorphic
        sedimentary
     >
    I:oreMeta=13
    S:oreName=terrafirmacraft:Ore1
    I:rarity=60
    S:size=large
    S:type=veins
}


"tetrahedrite surface" {
    I:"Horizontal Density"=60
    I:"Maximum Height"=240
    I:"Minimum Height"=128
    I:"Vertical Density"=80
    S:baseRocks <
        metamorphic
        sedimentary
     >
    I:oreMeta=13
    S:oreName=terrafirmacraft:Ore1
    I:rarity=25
    S:size=medium
    S:type=veins
}

feldspar {
    I:"Horizontal Density"=65
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=70
    S:baseRocks <
		sedimentary
     >
    I:oreMeta=9
    S:oreName=terrafirmacraft:Ore2
    I:rarity=120
# default null	
    S:size=medium
    S:type=veins
}

selenite {
    I:"Horizontal Density"=70
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=65
    S:baseRocks <
		igneous intrusive
		igneous extrusive
     >
    I:oreMeta=3
    S:oreName=terrafirmacraft:Ore2
    I:rarity=140
    S:size=medium
    S:type=veins
}


olivine {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=40
    S:baseRocks <
        igneous extrusive
        igneous intrusive
     >
    I:oreMeta=1
    S:oreName=terrafirmacraft:Ore3
    I:rarity=90
    S:size=medium
    S:type=veins
}
