# Configuration file

crafting {
    # If true, then the crafting of fluid pipes will need glue.
    B:FluidPipesNeedGlue=true

    # How fast the glue be prepared. Bigger value - faster preparation.
    D:GlueBoilingSpeed=0.05

    # Number of glue balls obtained from one bucket of glue. [range: 1 ~ 64, default: 8]
    I:GlueQtyFromBucket=8

    # If true, then the crafting of Wrought Iron Stripes will require minimum Steel Chisel.
    B:IronStripeReqSteelChisel=true

    # Number of nuggets obtained from one ingot. [range: 2 ~ 100, default: 5]
    I:NuggetsFromIngot=5
}


devices {
    # Set to false to disable Induction Smelter automation.
    B:AllowAutomationOfInductionSmelter=true
}


energy {
    # HV Power Supply Module internal energy storage, RF [range: 16384 ~ 2048000, default: 512000]
    I:HVPowerSupplyRFStorage=512000

    # HV energy tier transfer rate, RF/t [range: 256 ~ 65536, default: 4096]
    I:HVRate=4096

    # How much energy consumes Induction Smelter, RF/t [range: 32 ~ 4096, default: 128]
    I:InductionSmelterRFConsumption=128

    # Induction Smelter internal energy storage, RF [range: 1024 ~ 128000, default: 32000]
    I:InductionSmelterRFStorage=32000

    # LV Power Supply Module internal energy storage, RF [range: 1024 ~ 128000, default: 32000]
    I:LVPowerSupplyRFStorage=32000

    # LV energy tier transfer rate, RF/t [range: 16 ~ 4096, default: 256]
    I:LVRate=256

    # MV Power Supply Module internal energy storage, RF [range: 4096 ~ 512000, default: 128000]
    I:MVPowerSupplyRFStorage=128000

    # MV energy tier transfer rate, RF/t [range: 64 ~ 16384, default: 1024]
    I:MVRate=1024
}


furnace {
    # Burn time for Hevea Log. [range: 1 ~ 20000, default: 800]
    I:FuelValueHeveaLog=800

    # Burn time for Rubber. [range: 1 ~ 20000, default: 200]
    I:FuelValueRubber=200

    # Set to false to disable furnace clay firing recipes.
    B:FurnaceClayFiringEnable=true

    # Set to false to disable furnace rubber firing recipe.
    B:FurnaceRubberFiringEnable=true
}


general {
    # Check for mod updates.
    B:CheckUpdates=false

    # Set to false to show hidden items in NEI.
    B:EnableNEIHide=true
}


heating {
    # If true, Bauxite Ore and Bauxite Dust can be smelted into Aluminum.
    B:EnableHeatingBauxite=false

    # If true, Rubber Mix can be heated and turned into the Rubber.
    B:EnableHeatingRubber=true
}


materials {
    # The metal units provided by a single dust. [range: 1 ~ 3000, default: 100]
    I:DustUnits=100

    # The metal units provided by a single nugget. [range: 1 ~ 3000, default: 20]
    I:NuggetUnits=20

    # The metal units provided by a single dense plate. [range: 1 ~ 3000, default: 200]
    I:Plate2xUnits=100

    # The metal units provided by a single plate. [range: 1 ~ 3000, default: 100]
    I:PlateUnits=100
}


world {
    # Set to false to disable Hevea tree damage from tapping.
    B:HeveaDamageEnable=true

    # Number of Hevea trunk scratches before the tree gets damaged. [range: 1 ~ 15, default: 15]
    I:HeveaMaxDamage=15

    # Hevea spawn base chance. 0 = no trees. [range: 0 ~ 100, default: 0]
    I:HeveaSpawnChanceBase=0

    # Hevea spawn chance increment in ideal climate. [range: 0 ~ 100, default: 15]
    I:HeveaSpawnChanceIncIdealClimate=15

    # Hevea spawn chance increment when EVT value within range 0-2. [range: 0 ~ 100, default: 1]
    I:HeveaSpawnChanceIncIdealEVT=1

    # Hevea spawn chance increment when rainfall value within range 1500-2000. [range: 0 ~ 100, default: 5]
    I:HeveaSpawnChanceIncIdealRain=5

    # Hevea spawn chance increment when average biome temperature within range 25-30. [range: 0 ~ 100, default: 5]
    I:HeveaSpawnChanceIncIdealTemp=5

    # Hevea spawn chance increment when rainfall value within range 500-1500. [range: 0 ~ 100, default: 1]
    I:HeveaSpawnChanceIncRain500=1

    # Set to false to disable Quartz drops from stone.
    B:QuartzDropEnable=true

    # Quartz drop maximum quantity. [range: 1 ~ 10, default: 3]
    I:QuartzDropMaxQty=3

    # Quartz drop minimum quantity. [range: 1 ~ 10, default: 1]
    I:QuartzDropMinQty=1

    # Quartz drop chance (1 in X) when harvesting Igneous Extrusive stone. [range: 0 ~ 100000, default: 4000]
    I:QuartzIgExDropChance=4000

    # Quartz drop chance (1 in X) when harvesting Igneous Intrusive stone. [range: 0 ~ 100000, default: 2000]
    I:QuartzIgInDropChance=2000

    # Quartz drop chance (1 in X) when harvesting Metamorphic stone. [range: 0 ~ 100000, default: 1000]
    I:QuartzMMDropChance=1000

    # Quartz drop chance (1 in X) when harvesting Sedimentary stone. [range: 0 ~ 100000, default: 500]
    I:QuartzSedDropChance=500
}


